@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-3" style="background-color:orange">
        <h3><a href="@Url.Action("Upload")" style="color:white"><i class="glyphicon glyphicon-download"></i>Dosya Yükle</a></h3>
    </div>
    <div class="col-md-3" style="background-color:purple">
        <h3><a href="@Url.Action("Galeri")" style="color:white"><i class="glyphicon glyphicon-picture"></i>Galeri Yönetimi</a></h3>
    </div>
    <div class="col-md-6">

    </div>
</div>
