.btn {
    border: none;
    border-radius: 0;
}

.form-control, .modal-content {
    border-radius: 0;
}

body {
    background-color: #f1f1f1;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}


.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse {
    background-color: #0094ff;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    border: none;
}

.breadcrumb {
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

.bgGreen {
    background: #1bba75 !important;
}

.bgBlue {
    background: #0094ff !important;
}

.bgLightBlue {
    background: #6db3e5 !important;
}

.bgDarkRed {
    background: #a82d4b !important;
}

.bgOrange {
    background: #ff6a00 !important;
}

.bgDarkOrange {
    background: #F5A346 !important;
}

.bgPurple {
    background: #721bd5 !important;
}

.bgGreey {
    background: #e5e5e5 !important;
}

.bgSound {
    background: #172840 !important;
}

.tile {
    padding: 50px;
    width: auto;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-right: 50px;
}

    .tile a {
        text-decoration: none;
    }

        .tile a:hover {
            color: rgba(0,0,0,.15) !important;
            cursor: pointer;
        }
